.our-booking {
  width: 100vw;
  justify-content: space-between;
  align-items: center;
  background-color: white;
}

.img {
  width: 400px;
  height: 200px;
  background-color: lightgrey;
}

.header{
  margin: 50px;
h1 {
  font-family: 'Crimson Text', serif;
  text-align: center;
  }
}
