.our-booking {
  width: 100vw;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(240, 240, 240)
}

.img {
  width: 400px;
  height: 200px;
  background-color: lightgrey;
}

h1 {
  font-family: 'Modak', cursive;
}
