<h1>My Bookings</h1>
<ol>
  <% @bookings.each do |b| %>
    <li>
      <h2>  <%= link_to b.carpet.name, carpet_booking_path(b.carpet, b) %></h2>
      <p><strong>Rental Start Date:</strong> <%= b.startdate %></p>
      <p><strong>Rental End Date: </strong><%= b.enddate %></p>
      <p><strong>Price Per Day: </strong><%= b.carpet.price %> Camels</p>

    </li>
  <% end %>
</ol>


