.navbar {
  background-color: rgba(124,0,0,0.4)
}

.navbar{
  justify-content: space-between;
}

.navbar .navbar-collapse {
  flex-grow: 1;
}

.navbar .navbar-brand img {
  width: 40px;
  color: white;
}

a {
font-family: "Gayathri", "sans-serif";
}



