.navbar{
  background-color: rgba(124,0,0,0.4);
  justify-content: space-between;

  a {
    font-family: "Gayathri", "sans-serif";

  }
}

.navbar .navbar-collapse {
  flex-grow: 1;
}

.navbar .navbar-brand img {
  width: 40px;

}

.navbar-brand {
  color: #FFFFFF !important;
}

.navbar-nav .nav-link {
  color: white !important;
}

.avatar {
  height: 100%;
}
